<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           					http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<!-- 开始 -->

	<!-- DynamicNewsArea start -->
	<bean id="dynamicNewsAreaDao" class="com.DynamicNewsArea.dao.DynamicNewsAreaDao" />

	<bean id="dynamicNewsAreaService" class="com.DynamicNewsArea.service.DynamicNewsAreaService">
		<property name="dynamicNewsAreaDao" ref="dynamicNewsAreaDao" />
	</bean>
	<!-- DynamicNewsArea end -->


	<!-- Login start -->
	<bean id="loginInfoDao" class="com.login.dao.LoginInfoDao" />

	<bean id="loginInfoService" class="com.login.service.LoginInfoService">
		<property name="loginInfoDao" ref="loginInfoDao" />
	</bean>
	<!-- Login end -->


	<!-- AnnounceArea start -->
	<bean id="announceAreaDao" class="com.AnnounceArea.dao.AnnounceAreaDao" />

	<bean id="announceService" class="com.AnnounceArea.service.announceService">
		<property name="announceAreaDao" ref="announceAreaDao" />
	</bean>
	<!-- AnnounceArea end -->
	
	
	<!-- TechnologyArea start -->
	<bean id="technologyAreaDao" class="com.TechnologyArea.dao.TechnologyAreaDao" />

	<bean id="technologyAreaService" class="com.TechnologyArea.service.TechnologyAreaService">
		<property name="technologyAreaDao" ref="technologyAreaDao" />
	</bean>
	<!-- TechnologyArea end -->
	
	<!-- RecordUserNumber start -->
	<bean id="recordUserNumberDao" class="com.recordUserNumber.dao.RecordUserNumberDao" />

	<bean id="recordUserNumberService" class="com.recordUserNumber.service.RecordUserNumberService">
		<property name="recordUserNumberDao" ref="recordUserNumberDao" />
	</bean>
	<!-- RecordUserNumber end -->
	
	<!-- maintain start -->
	<bean id="maintainDao" class="com.maintain.dao.MaintainDao" />

	<bean id="maintainService" class="com.maintain.service.MaintainService">
		<property name="maintainDao" ref="maintainDao" />
	</bean>
	<!-- maintain end -->
	
	
	<!-- LeaveMessage start -->
	<bean id="leaveMessageDao" class="com.leaveMessage.dao.LeaveMessageDao" />

	<bean id="leaveMessageService" class="com.leaveMessage.service.LeaveMessageService">
		<property name="leaveMessageDao" ref="leaveMessageDao" />
	</bean>
	<!-- LeaveMessage end -->
	
	<!-- UploadPhoto start -->
	<bean id="uploadPhotoDao" class="com.uploadphoto.dao.UploadPhotoDao" />

	<bean id="uploadPhotoService" class="com.uploadphoto.service.UploadPhotoService">
		<property name="uploadPhotoDao" ref="uploadPhotoDao" />
	</bean>
	<!-- UploadPhoto end -->
	
</beans>